{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": 3 }],
    "babel-plugin-add-module-exports",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-env"
      ],
      "plugins": [
        "istanbul",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
